Repository eclipse/xtext-eclipse, pull requests merged in 2018-04, with the labels that each got.

#637 JUnit 5 support
  org.eclipse.xtext.xtext.ui/src/org/eclipse/xtext/xtext/ui/Activator.java
  org.eclipse.xtext.xtext.ui/src/org/eclipse/xtext/xtext/ui/wizard/project/AdvancedNewProjectPage.xtend
  org.eclipse.xtext.xtext.ui/src/org/eclipse/xtext/xtext/ui/wizard/project/Messages.java
  org.eclipse.xtext.xtext.ui/src/org/eclipse/xtext/xtext/ui/wizard/project/NewXtextProjectWizard.java
  org.eclipse.xtext.xtext.ui/src/org/eclipse/xtext/xtext/ui/wizard/project/messages.properties
  org.eclipse.xtext.xtext.ui/xtend-gen/org/eclipse/xtext/xtext/ui/wizard/project/AdvancedNewProjectPage.java
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-luna.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-oxygen.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-photon.target
Labels: new_feature

#640 Regen Docs
  org.eclipse.xtext.doc/contents/103_domainmodelnextsteps.html
  org.eclipse.xtext.doc/contents/303_runtime_concepts.html
  org.eclipse.xtext.doc/contents/306_mwe2.html
  org.eclipse.xtext.doc/contents/308_emf_integration.html
  org.eclipse.xtext.doc/contents/310_eclipse_support.html
  org.eclipse.xtext.doc/contents/350_continuous_integration.html
  org.eclipse.xtext.doc/contents/images/code_mining.png
  org.eclipse.xtext.doc/contents/toc.xml
  org.eclipse.xtext.doc/gen_eclipse_help_xtext.launch
Labels: releng

#641 use asm 6.1.1 in oomph
  releng/org.eclipse.xtext.contributor/Xtext.setup
Labels: releng

#643 Rename getJUnitVersion => getSelectedJUnitVersion
  org.eclipse.xtext.xtext.ui/src/org/eclipse/xtext/xtext/ui/wizard/project/AdvancedNewProjectPage.xtend
  org.eclipse.xtext.xtext.ui/src/org/eclipse/xtext/xtext/ui/wizard/project/NewXtextProjectWizard.java
  org.eclipse.xtext.xtext.ui/xtend-gen/org/eclipse/xtext/xtext/ui/wizard/project/AdvancedNewProjectPage.java
Labels: refactoring

#644 [#543] Updated Oxygen Target to 3a
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-oxygen.target
Labels: releng

#647 [eclipse/xtext#1190] Narrowed the version range for asm to [6.1.1,6.2.0)
  org.eclipse.xtext.common.types.eclipse.tests/META-INF/MANIFEST.MF_gen
  org.eclipse.xtext.purexbase.eclipse.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.testlanguages.ui/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel-oxygen.tpd
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel-photon.tpd
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/homeautomation/org.eclipse.xtext.example.homeautomation.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/homeautomation/org.eclipse.xtext.example.homeautomation/META-INF/MANIFEST.MF
  releng/org.eclipse.xtext.contributor/Xtext.setup
Labels: releng
