Repository eclipse/xtext-eclipse, pull requests merged in 2018-10, with the labels that each got.

#832 [eclipse/xtext#1272] Xtext bootstrap 2.15
  releng/org.eclipse.xtext.tycho.parent/pom.xml
Labels: releng

#837 [#836] Ensure the CodeMining works on 2018-09.
  org.eclipse.xtext.ui.codemining/src/org/eclipse/xtext/ui/codemining/AbstractXtextCodeMiningProvider.java
Labels: enhancement

#842 [#839] Add StatemachineQuickfixTest to the Xtext State-Machine example.
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.ui.tests/src/org/eclipse/xtext/example/fowlerdsl/ui/tests/StatemachineQuickfixTest.xtend
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.ui.tests/xtend-gen/org/eclipse/xtext/example/fowlerdsl/ui/tests/StatemachineQuickfixTest.java
Labels: enhancement

#846 [#828] Updated Setup to 4.9 final. introduced 4.10-ibuilds
  releng/org.eclipse.xtext.contributor/Xtext.setup
Labels: releng

#849 [539215] Fixed ArrayIndexOutOfBoundsException when no type selected
  org.eclipse.xtext.xbase.ui/src/org/eclipse/xtext/xbase/ui/imports/TypeChooser.java
Labels: bug

#855 [#311] Use consistent encoding in CompilationTestHelper
  org.eclipse.xtext.xbase.junit/src/org/eclipse/xtext/xbase/compiler/CompilationTestHelper.java
Labels: enhancement

#859 [eclipse/xtext-eclipse#854] removed 'photon' from target platform naming
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/pom.xml
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel.target
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel.tpd
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/pom.xml
Labels: releng

#860 [#841] address removal of equinox.ds in platform 4.10
  releng/org.eclipse.xtext.tycho.tests.parent/pom.xml
Labels: releng

#864 [eclipse/xtext#1321] bootstrap against 2.16.0.M1
  releng/org.eclipse.xtext.tycho.parent/pom.xml
Labels: releng

#873 [eclipse/xtext#1325] switch to ASM 7.
  org.eclipse.xtext.common.types.eclipse.tests/META-INF/MANIFEST.MF_gen
  org.eclipse.xtext.purexbase.eclipse.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.testlanguages.ui/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.ide/pom.xml
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel.target
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel.tpd
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/homeautomation/org.eclipse.xtext.example.homeautomation.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/homeautomation/org.eclipse.xtext.example.homeautomation/META-INF/MANIFEST.MF
  releng/org.eclipse.xtext.contributor/Xtext.setup
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-oxygen.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-photon.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201809.target
Labels: releng
