Repository eclipse/xtext-eclipse, pull requests merged in 2018-05, with the labels that each got.

#669 [eclipse/xtext-umbrella#60] Add CBI Analyzer to modular target
  releng/org.eclipse.xtext.contributor/Xtext.setup
Labels: releng

#670 [eclipse/xtext-core#666] Add JUnit 5 to modular target
  releng/org.eclipse.xtext.contributor/Xtext.setup
Labels: releng

#671 Typo in method name. Added getParallelFileSystemAccess as replacement.
  org.eclipse.xtext.builder/src/org/eclipse/xtext/builder/ParallelBuilderParticipant.java
Labels: refactoring

#689 [eclipse/xtext#1178] bootstrap against 2.14
  releng/org.eclipse.xtext.contributor/Xtext.setup
  releng/org.eclipse.xtext.tycho.parent/pom.xml
Labels: releng

#696 [NONE] Add StatemachineParsingTest to the 'Xtext State-Machine' example.
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/.classpath
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/.gitignore
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/.project
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/.settings/org.eclipse.core.resources.prefs
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/.settings/org.eclipse.jdt.core.prefs
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/build.properties
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/src-gen/org/eclipse/xtext/example/fowlerdsl/tests/StatemachineInjectorProvider.java
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/src/org/eclipse/xtext/example/fowlerdsl/tests/StatemachineParsingTest.xtend
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/xtend-gen/org/eclipse/xtext/example/fowlerdsl/tests/.gitignore
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/xtend-gen/org/eclipse/xtext/example/fowlerdsl/tests/StatemachineParsingTest.java
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl/src/org/eclipse/xtext/example/fowlerdsl/GenerateStatemachine.mwe2
Labels: enhancement
