Repository eclipse/xtext-eclipse, pull requests merged in 2019-12, with the labels that each got.

#1282 [eclipse/xtext#1603] create target for r201912
  Jenkinsfile
  org.eclipse.xtext.ui.codemining/pom.xml
  org.eclipse.xtext.ui.testing/pom.xml
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201912.target
  releng/org.eclipse.xtext.target/pom.xml
  releng/org.eclipse.xtext.tycho.parent/pom.xml
Labels: releng

#1286 [releng] Bootstrap against 2.20.0
  releng/org.eclipse.xtext.tycho.parent/pom.xml
Labels: bot, releng

#1285 Cleaning up the Xtext Examples MANIFEST.MF files.
  org.eclipse.xtext.xtext.ui.examples/projects/arithmetics/org.eclipse.xtext.example.arithmetics.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/arithmetics/org.eclipse.xtext.example.arithmetics.ui.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.ui.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.ui.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/homeautomation/org.eclipse.xtext.example.homeautomation.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/homeautomation/org.eclipse.xtext.example.homeautomation.ui.tests/META-INF/MANIFEST.MF
Labels: refactoring

#1289 https://github.com/eclipse/xtext/issues/1629 Refactor Xtend to Java.
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel/src/org/eclipse/xtext/example/domainmodel/jvmmodel/DomainmodelJvmModelHelper.java
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel/src/org/eclipse/xtext/example/domainmodel/jvmmodel/DomainmodelJvmModelHelper.xtend
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel/xtend-gen/org/eclipse/xtext/example/domainmodel/jvmmodel/DomainmodelJvmModelHelper.java
Labels: refactoring

#1290 [eclipse/xtext#1604] use 4.15 I-builds
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
Labels: releng

#1298 [eclipse/xtext#1633] Allow to redirect compile folders to bin, bin-test with m2e
  org.eclipse.xtext.m2e/.project
  org.eclipse.xtext.m2e/.settings/org.eclipse.core.runtime.prefs
  org.eclipse.xtext.m2e/.settings/org.eclipse.jdt.core.prefs
  org.eclipse.xtext.m2e/.settings/org.eclipse.jdt.launching.prefs
  org.eclipse.xtext.m2e/.settings/org.eclipse.pde.prefs
  org.eclipse.xtext.m2e/META-INF/MANIFEST.MF
  org.eclipse.xtext.m2e/build.properties
  org.eclipse.xtext.m2e/lifecycle-mapping-metadata.xml
  org.eclipse.xtext.m2e/plugin.properties
  org.eclipse.xtext.m2e/plugin.xml
  org.eclipse.xtext.m2e/src/org/eclipse/xtext/m2e/BinFolderConfigurator.java
Labels: releng

#1288 [eclipse/xtext#1606] Update Xtext.setup for Eclipse 2020-03
  releng/org.eclipse.xtext.contributor/Xtext.setup
Labels: releng

#1300 [eclipse/xtext#1604] updated to 2020-03 simrel update site
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
Labels: releng
