Repository eclipse/xtext-eclipse, pull requests merged in 2020-10, with the labels that each got.

#1550 [#399068] Moved ShowWhitespaceCharactersActionContributor to Xtext
  org.eclipse.xtext.ui/icons/full/dtool16/show_whitespace_chars.gif
  org.eclipse.xtext.ui/icons/full/etool16/show_whitespace_chars.gif
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/syntaxcoloring/ShowWhitespaceCharactersActionContributor.java
  org.eclipse.xtext.xtext.ui/src/org/eclipse/xtext/xtext/ui/XtextUiModule.java
Labels: new_feature

#1551 [eclipse/xtext#1852] Update to ASM 9
  org.eclipse.xtext.common.types.eclipse.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.common.types.eclipse.tests/META-INF/MANIFEST.MF_gen
  org.eclipse.xtext.purexbase.eclipse.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.testlanguages.ui/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel.target
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/homeautomation/org.eclipse.xtext.example.homeautomation.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xtext.ui.examples/projects/homeautomation/org.eclipse.xtext.example.homeautomation/META-INF/MANIFEST.MF
  releng/org.eclipse.xtext.contributor/Xtext.setup
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-oxygen.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-photon.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201809.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201812.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201903.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201906.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201909.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201912.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202003.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202006.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202009.target
Labels: releng

#1553 [NONE] Fix missing params issue
  Jenkinsfile
Labels: releng

#1554 [releng] Bootstrap against 2.24.0.M1
  releng/org.eclipse.xtext.tycho.parent/pom.xml
Labels: bot, releng

#1574 [eclipse/xtext#1855] update to junit 5.7
  releng/org.eclipse.xtext.contributor/Xtext.setup
Labels: releng

#1573 Bug 568152 - Use FrameworkUtil#getBundle instead of Platform#getBundle
  org.eclipse.xtext.builder.tests/src/org/eclipse/xtext/builder/tests/ParallelBuildEnabledTest.java
  org.eclipse.xtext.junit4/src/org/eclipse/xtext/junit4/ui/util/TargetPlatformUtil.java
  org.eclipse.xtext.logging/src/org/eclipse/xtext/logging/EclipseLogAppender.java
  org.eclipse.xtext.ui.shared/src/org/eclipse/xtext/ui/shared/internal/Activator.java
  org.eclipse.xtext.ui.testing/src/org/eclipse/xtext/ui/testing/util/TargetPlatformUtil.java
  org.eclipse.xtext.ui.tests/tests/org/eclipse/xtext/ui/tests/core/util/BundleClasspathUriResolverTest.java
Labels: enhancement

#1575 [eclipse/xtext-xtend#1132] do restriction checks also on type literal member feature calls
  org.eclipse.xtext.xbase.ui/src/org/eclipse/xtext/xbase/ui/validation/XbaseUIValidator.java
Labels: bug

#1576 [eclipse/xtext#1866] update to MWE(2) 1.6.0/2.12.0 M2
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel.target
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel/pom.xml
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
Labels: releng
