Repository eclipse/xtext-eclipse, pull requests merged in 2020-03, with the labels that each got.

#1365 [eclipse/xtext#1686] prepared R2020-03 release target platform
  Jenkinsfile
  org.eclipse.xtext.buildship/pom.xml
  org.eclipse.xtext.ui.codemining/pom.xml
  org.eclipse.xtext.ui.testing/pom.xml
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202003.target
  releng/org.eclipse.xtext.target/pom.xml
  releng/org.eclipse.xtext.tycho.parent/pom.xml
Labels: releng

#1364 [bug 318482] Added content assist tests
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/CrossReferenceProposalTestLanguage.xtextbin
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/ide/contentassist/antlr/CrossReferenceProposalTestLanguageParser.java
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/ide/contentassist/antlr/internal/InternalCrossReferenceProposalTestLanguage.g
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/ide/contentassist/antlr/internal/InternalCrossReferenceProposalTestLanguage.tokens
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/ide/contentassist/antlr/internal/InternalCrossReferenceProposalTestLanguageLexer.java
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/ide/contentassist/antlr/internal/InternalCrossReferenceProposalTestLanguageParser.java
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/parser/antlr/internal/InternalCrossReferenceProposalTestLanguage.g
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/parser/antlr/internal/InternalCrossReferenceProposalTestLanguage.tokens
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/parser/antlr/internal/InternalCrossReferenceProposalTestLanguageLexer.java
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/parser/antlr/internal/InternalCrossReferenceProposalTestLanguageParser.java
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/serializer/CrossReferenceProposalTestLanguageSemanticSequencer.java
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/services/CrossReferenceProposalTestLanguageGrammarAccess.java
  org.eclipse.xtext.ui.tests/src-gen/org/eclipse/xtext/ui/tests/editor/contentassist/ui/contentassist/AbstractCrossReferenceProposalTestLanguageProposalProvider.java
  org.eclipse.xtext.ui.tests/src/org/eclipse/xtext/ui/tests/editor/contentassist/CrossReferenceProposalTestLanguage.xtext
  org.eclipse.xtext.ui.tests/tests/org/eclipse/xtext/ui/tests/editor/contentassist/ContentAssistCustomizingTest.java
  org.eclipse.xtext.ui.tests/tests/org/eclipse/xtext/ui/tests/editor/contentassist/CrossReferenceProposalTest.java
Labels: new_feature

#1366 [eclipse/xtext#1685] use 4.16 ibuilds in latest target
  releng/org.eclipse.xtext.contributor/Xtext.setup
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
Labels: releng

#1347 [eclipse/xtext-eclipse#1027] change getAdapter(..) to Adapters.adapt(..)
  org.eclipse.xtext.builder/src/org/eclipse/xtext/builder/nature/ToggleXtextNatureCommand.java
  org.eclipse.xtext.builder/src/org/eclipse/xtext/builder/smap/StratumBreakpointAdapterFactory.java
  org.eclipse.xtext.builder/src/org/eclipse/xtext/builder/smap/XbaseBreakpointUtil.java
  org.eclipse.xtext.builder/src/org/eclipse/xtext/builder/smap/XbaseLineBreakpoint.java
  org.eclipse.xtext.common.types.ui/src/org/eclipse/xtext/common/types/ui/trace/ClassFileBasedOpenerContributor.java
  org.eclipse.xtext.ui.ecore/src/org/eclipse/xtext/ui/ecore/EcoreEditorOpener.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/compare/DefaultMergeViewer.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/XtextEditor.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/XtextEditorPropertyTester.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/model/XtextDocumentProvider.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/preferences/AbstractPreferencePage.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/quickfix/MarkerResolutionGenerator.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/toggleComments/ToggleSLCommentAction.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/utils/EditorUtils.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/generator/trace/FileOpener.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/preferences/PropertyAndPreferencePage.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/refactoring/impl/DefaultRefactoringDocumentProvider.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/refactoring2/ChangeConverter.xtend
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/wizard/template/NewFileWizardPrimaryPage.java
  org.eclipse.xtext.ui/xtend-gen/org/eclipse/xtext/ui/refactoring2/ChangeConverter.java
  org.eclipse.xtext.xbase.ui/src/org/eclipse/xtext/xbase/ui/editor/actions/ImportsAwareClipboardAction.java
  org.eclipse.xtext.xbase.ui/src/org/eclipse/xtext/xbase/ui/editor/actions/XbaseFoldingActionContributor.java
  org.eclipse.xtext.xbase.ui/src/org/eclipse/xtext/xbase/ui/launching/JUnitLaunchShortcut.java
  org.eclipse.xtext.xbase.ui/src/org/eclipse/xtext/xbase/ui/launching/JUnitPDELaunchShortcut.java
  org.eclipse.xtext.xbase.ui/src/org/eclipse/xtext/xbase/ui/launching/JavaApplicationLaunchShortcut.java
  org.eclipse.xtext.xbase.ui/src/org/eclipse/xtext/xbase/ui/launching/LaunchShortcutUtil.java
  org.eclipse.xtext.xtext.ui/src/org/eclipse/xtext/xtext/launcher/SelectionUtil.java
Labels: refactoring

#1370 [eclipse/xtext#1685] use 2020-06 update site
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
Labels: releng

#1371 [eclipse/xtext#1681] prepared oomph for 2020-06
  releng/org.eclipse.xtext.contributor/Xtext.setup
Labels: releng

#1373 [eclipse/xtext#1682] update orbit to 2020-06
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel.target
  releng/org.eclipse.xtext.contributor/Xtext.setup
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-oxygen.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-photon.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201809.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201812.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201903.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201906.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201909.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201912.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202003.target
Labels: releng

#1385 [eclipse/xtext-eclipse#1382] Field names in TokenTypeDefDetailsPart are not localizable
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/syntaxcoloring/Messages.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/syntaxcoloring/TokenTypeDefDetailsPart.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/syntaxcoloring/messages.properties
Labels: bug
