Repository eclipse/xtext-eclipse, pull requests merged in 2020-02, with the labels that each got.

#1348 [eclipse/xtext#1641] fixed junit5 in oomph
  releng/org.eclipse.xtext.contributor/Xtext.setup
Labels: releng

#1353 Fixed regression: Added null-guard to XtextQuickAssistProcessor
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/quickfix/XtextQuickAssistProcessor.java
Labels: bug

#1354 [releng] Bootstrap against 2.21.0.M3
  releng/org.eclipse.xtext.tycho.parent/pom.xml
Labels: bot, releng
