Repository eclipse/xtext-eclipse, pull requests merged in 2020-07, with the labels that each got.

#1485 [#1484] Make TemplatePositionUpdater public
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/reconciler/TemplatePositionUpdater.java
Labels: enhancement

#1491 [releng] Bootstrap against 2.23.0.M1
  releng/org.eclipse.xtext.tycho.parent/pom.xml
Labels: bot, releng

#1496 [eclipse/xtext#1816] harmonize includeSource to true in preparation for tycho 2.0
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-oxygen.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-photon.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201809.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201812.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201903.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201906.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201909.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201912.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202003.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202006.target
Labels: releng
