Repository eclipse/xtext-eclipse, pull requests merged in 2022-01, with the labels that each got.

#1772 switch to https
  releng/org.eclipse.xtext.contributor/Xtext.setup
Labels: releng

#1773 regenerated xbase
  org.eclipse.xtext.xbase.ui/src-gen/org/eclipse/xtext/xbase/annotations/ui/AbstractXbaseWithAnnotationsUiModule.java
  org.eclipse.xtext.xbase.ui/src-gen/org/eclipse/xtext/xbase/annotations/ui/XbaseWithAnnotationsExecutableExtensionFactory.java
  org.eclipse.xtext.xbase.ui/src-gen/org/eclipse/xtext/xbase/annotations/ui/contentassist/AbstractXbaseWithAnnotationsProposalProvider.java
  org.eclipse.xtext.xbase.ui/src-gen/org/eclipse/xtext/xbase/annotations/ui/editor/XbaseWithAnnotationsEditor.java
  org.eclipse.xtext.xbase.ui/src-gen/org/eclipse/xtext/xbase/ui/AbstractXbaseUiModule.java
  org.eclipse.xtext.xbase.ui/src-gen/org/eclipse/xtext/xbase/ui/AbstractXtypeUiModule.java
  org.eclipse.xtext.xbase.ui/src-gen/org/eclipse/xtext/xbase/ui/XbaseExecutableExtensionFactory.java
  org.eclipse.xtext.xbase.ui/src-gen/org/eclipse/xtext/xbase/ui/XtypeExecutableExtensionFactory.java
  org.eclipse.xtext.xbase.ui/src-gen/org/eclipse/xtext/xbase/ui/contentassist/AbstractXbaseProposalProvider.java
  org.eclipse.xtext.xbase.ui/src-gen/org/eclipse/xtext/xbase/ui/contentassist/AbstractXtypeProposalProvider.java
  org.eclipse.xtext.xbase.ui/src-gen/org/eclipse/xtext/xbase/ui/internal/XbaseActivator.java
Labels: releng

#1774 [eclipse/xtext#2025] update to mwe(2) 1.6.2/2.12.2 release
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel.target
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel/pom.xml
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
Labels: releng

#1775 [Bug 574908] Improve performance of Storage2UriMapperJavaImpl in modular project
  org.eclipse.xtext.builder/src/org/eclipse/xtext/builder/impl/javasupport/JdtToBeBuiltComputer.java
  org.eclipse.xtext.ui.tests/tests/org/eclipse/xtext/ui/tests/core/resource/Storage2UriMapperJavaImplTest.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/resource/IStorage2UriMapperJdtExtensions.java
  org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/resource/Storage2UriMapperJavaImpl.java
Labels: performance

#1777 [eclipse/xtext#2021] update to tycho 2.6.0
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/pom.xml
  releng/org.eclipse.xtext.tycho.parent/pom.xml
Labels: releng

#1778 [eclipse/xtext#2028] replace log4j Require-Bundle with Import-Package
  org.eclipse.xtext.junit4/META-INF/MANIFEST.MF
  org.eclipse.xtext.ui.testing/META-INF/MANIFEST.MF
Labels: releng

#1779 [releng] Bootstrap against 2.26.0.M3
  releng/org.eclipse.xtext.tycho.parent/pom.xml
Labels: releng, bot

#1783 switch to 2022-03
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel.target
Labels: releng

#1784 [eclipse/xtext#2029] update to orbit 2022-03
  org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.releng/tp/domainmodel.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-oxygen.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-photon.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201809.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201812.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201903.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201906.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201909.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r201912.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202003.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202006.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202009.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202012.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202103.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202106.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202109.target
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-r202112.target
Labels: releng

#1786 [eclipse/xtext#2029] update to orbit 2022-03
  releng/org.eclipse.xtext.contributor/Xtext.setup
Labels: releng

#1785 update to 2022-03
  releng/org.eclipse.xtext.target/org.eclipse.xtext.target-latest.target
Labels: releng
